@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}



/****************************************************
                        BODY
*****************************************************/

.wrapper {
    background-image: url(image/bg.jpg);
    width: 300px;
    height: 600px;
    border: 2px solid black;
    margin: 5% 40%;
    overflow: hidden;
    position: relative;
}

h1 {
    text-align: center;
    padding-top: 30px;
}

.boring-sandwich span {
    display: block;
}

.table {
    position: absolute;
    left: 1px;
    bottom: 1px;
}

/*      ANIMATION 1     */

.boring-sandwich {
    text-align: center;
    color: #E30714;
    text-transform: capitalize;
    font-size: 35px;
    top: 130px;
    left: 80px;
    position: absolute;
    animation-name: boring-sandwich;
    animation-duration: 2.5s;  
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes boring-sandwich {
  0%, 100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  25%,75%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.sad_sonali {
    float: right;
    position: absolute;
    left: 90px;
    bottom: 98px;
    animation-name: sad_sonali;
    animation-duration: 2.5s;  
    animation-fill-mode: forwards;
    z-index: 1;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes sad_sonali {
  0%, 100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  25%,75%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.plate {
    position: absolute;
    top: 530px;
    right: 60px;
    animation-name: plate;
    animation-duration: 4s;  
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes plate {
    0%,100% {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
    25%,75%{
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}


/*      ANIMATION 2     */

.sandwich {
    position: absolute;
    right: 350px;
    animation-name: sandwich;
    animation-duration: 9s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: 1;
}

@keyframes sandwich {
    0%, 100%{
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
    25%, 75%{
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

.sandwich_3,
.sandwich_2,
.sandwich_1 {
    position: absolute;
}

.sandwich_1 {
    top: 450px;
}
.sandwich_2 {
    z-index: 2;
    left: 35px;
    top: 460px;
}
.sandwich_3 {
    z-index: 3;
    left: 40px;
    top: 440px;
}

/*      Animation 4     */

.ban-gaya {
    text-align: center;
    color: #E30714;
    text-transform: capitalize;
    font-size: 35px;
    top: 130px;
    left: 5px;
    position: absolute;
    animation-name: ban-gaya;
    animation-duration: 2.5s;  
    animation-fill-mode: forwards;
    animation-delay: 6s;
    opacity: 0;    
}

@keyframes ban-gaya {
  0%, 100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  25%,75%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.happy_sonali {
    left: 68px;
    bottom: 105px;
    position: absolute;
    animation-name: happy_sonali;
    animation-duration: 2.5s;  
    animation-fill-mode: forwards;
    z-index: 1;
    animation-delay: 6s;
    opacity: 0;
}


@keyframes happy_sonali {
  0%, 100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  25%,75%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


/*      Animation 5     */

.fun-good {
    text-align: center;
    color: #E30714;
    text-transform: capitalize;
    font-size: 35px;
    top: 130px;
    left: 10px;
    position: absolute;
    animation-name: fun-good;
    animation-duration: 2.5s;  
    animation-fill-mode: forwards;
    animation-delay: 9s;
    opacity: 0; 
}

.fun-good span {
    display: block;
}

@keyframes fun-good {
  0%, 100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  25%,75%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.chef {
    left: 68px;
    bottom: 105px;
    position: absolute;
    animation-name: chef;
    animation-duration: 2.5s;  
    animation-fill-mode: forwards;
    z-index: 1;
    animation-delay: 9s;
    opacity: 0;  
}

@keyframes chef {
  0%, 100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  25%,75%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/*      Animation 6     */

.food-mai {
    text-align: center;
    color: #E30714;
    text-transform: capitalize;
    font-size: 35px;
    top: 130px;
    left: 60px;
    position: absolute;
    animation-name: food-mai;
    animation-duration: 19s;  
    animation-fill-mode: forwards;
    animation-delay: 12s;
    opacity: 0;  
}

.food-mai span {
    display: block;
}

@keyframes food-mai {
  0%, 100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  5%, 95%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btn {
    background-color: #26348B;
    color: #fff;
    position: absolute;
    border: 2px solid black;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 25px;
    text-transform: capitalize;
    top: 200px;
    border-radius: 15px;
    animation-name: btn;
    animation-duration: 13s;  
    animation-fill-mode: forwards;
    animation-delay: 16s;
    opacity: 0;
}

@keyframes btn {
    0%, 100%  {
        opacity: 0;
        left: 0px; 
        top: 200px;
    }
    5% {
        opacity: 1;
        left: 60px; 
        top: 240px;
    }
    20%, 95%{
        opacity: 1;
        left: 60px; 
        top: 240px;
    }
}

.hat {
    position: absolute;
    top: 200px;
    z-index: 1;
    animation-name: hat;
    animation-duration: 15s;  
    animation-fill-mode: forwards;
    animation-delay: 14s;
    opacity: 0;
}

@keyframes hat {
    0%, 100%  {
        opacity: 0;
        left: 0px; 
        top: 200px;
    }
    5% {
        opacity: 1;
        left: 100px; 
        top: 300px;
    }
    10%{
        opacity: 1;
        left: 100px; 
        top: 320px;
    }
    15%, 95%{
        opacity: 1;
        left: 100px; 
        top: 320px;
    }
}

.veg-mayo {
    position: absolute;
    left: 90px;
    top: 390px;
    animation-name: veg-mayo;
    animation-duration: 19s;  
    animation-fill-mode: forwards;
    animation-delay: 12s;
    opacity: 0; 
}


@keyframes veg-mayo {
  0%, 100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  5%,95%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
